DJANGO_SETTINGS_MODULE='PHP_support_bot.settings.dev'
SECRET_KEY='your-secret-key'
ALLOWED_HOSTS='*'
TELEGRAM_BOT_TOKEN=
# unnecessary
REDIS_DATABASE_PASSWORD=
REDIS_DATABASE_HOST=
REDIS_DATABASE_PORT=